---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/elements/Hero.astro'
import "../styles/global.css"
import Card from '../components/AvatarCard.astro'


---

<Layout title="ABOUT">
  <div class="bg-contours max-h-screen overflow-y-scroll scrollbar-hide snap-start snap-y snap-mandatory">
    <div class="h-screen snap-start py-20 overflow-y-hidden">
      <Hero
        padding='pt-24'
        title="WHO WE ARE"
        content="Colorado Coders is a passionate organization dedicated to empowering local Colorado businesses through cutting-edge technology. In the heart of the Rocky Mountains, we understand the unique challenges and opportunities that small businesses face. Our mission is simple: to provide comprehensive technological support, from website development to software engineering and beyond. We believe that every local business, regardless of its size, deserves access to the tools and expertise needed to thrive in today's digital world. Our team of experts specializes in crafting custom tech solutions that align perfectly with your business goals. Whether it's building a dynamic online presence, streamlining operations with bespoke software, or harnessing the power of data analytics, we're here to ensure your business not only competes but excels in the digital landscape."
      />
    </div>
    <div class="h-screen snap-start py-40">
      <div class="flex justify-center mx-auto">
        <div class="flex w-full justify-center items-center flex-wrap overflow-hidden gap-5">
          <Card name="David Aragon" title="CEO & Co-Founder" image="/public/david.jpg"/>
          <Card name="William Crum" title="CTO & Co-Founder" image="/public/will.jpg"/>
          <Card name="Jeydn Bryd" title="CSO"/>
          <Card name="Gunnar Enserro" title="CAIO" image="/public/gunnar.jpg"/>
       </div>
    </div>
  </div>
</Layout>