---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/elements/Hero.astro'

import "../styles/global.css"
---

<Layout title="">
  <div class="bg-contours max-h-screen overflow-y-scroll scrollbar-hide snap-start snap-y snap-mandatory">
    <div class="h-screen snap-start py-20">
      <Hero
        title="WE ARE COLORADO CODERS"
        content="A passionate organization founded by locals dedicated to empowering local Colorado businesses through cutting-edge technology."
        link="#"
        linkText='LEARN MORE'
        padding='pt-24'
      />
    </div>
  </div>
</Layout>
